.container{      
    margin: 0 auto;
	flex-wrap: wrap-reverse;       
}

.images{        
    display:flex;
    justify-content: center;   	
	background: #C4C4C4;

}

.images a {
    margin: 4px;
}

.p {
    justify-content: center;
    display:flex;    
	margin: auto;
	background: #C4C4C4;
	text-align: center;
    color: #000000;
	font-size:15px;
    font-family: ;
    font-weight: 700;

}
